HELP.md
/docs/node_modules
/docs/.vitepress/dist
/docs/.vitepress/cache
/config
/target
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
frontend/node_modules
frontend/dist
frontend/cypress/screenshots
backend/target

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/domain/src/main/resources/application.properties

### Configuration Files ###
application.properties

### Docker Compose ###
compose.dev.yml
